<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= post.user.user_name %>
      </div>
    </div>
    <div class="image center-block">
      <% if post.image.exists? %>
      <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
      <% end %>
    </div>
    <div class="post-bottom">
      <div class="caption">
        <div class="user-name">
          <%= post.user.user_name %>
        </div>
        <%= link_to post.caption, post_path(post) %>
      </div>
      <% if post.comments %>
        <% post.comments.each do |comment| %>
          <div class="comment row">
              <div class="user-comment-name col-sm-2">
                <% if comment.user == current_user %>
                  <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <span class="glyphicon glyphicon-remove delete-comment"></span>
                  <% end %>
                <% end %>


                <div class="user-name">
                  <%= comment.user.user_name %>
                </div>
              </div>
              <div class="col-sm-9">
            <% if comment.image.exists? %>
              <div class="image center-block">
                <%= link_to (image_tag comment.image.url(:medium), class:'img-responsive'), post_path(post) %>
              </div>
            <% end %>
                        <div class="comment-content">
              <%= comment.content %>
            </div>
          </div>
            


           
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-xs-1">
        <span class="glyphicon glyphicon-heart-empty"></span>
      </div>
      <div class="add-comment">Add comment...</div>
      <div class="comment-form col-sm-10">
       
            <%= simple_form_for [post, post.comments.new] do |f| %>
              <div class="form-group">
                <%= f.input :image %>
              </div>
              <div class="form-group">
                <%= f.input :content, :label => "Add Comment", :as => :text %>
              </div>
              <div class="form-group text-center">
                <%= f.button :submit, class: 'btn-success' %>
              </div>
            <% end %>
        
      </div>
    </div>
  </div>
</div>
